# .gitignore
# Environment variables and secrets
.env
.env.*
*.env

.venv/
__pycache__/
*.pyc
.DS_Store
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.pytest_cache/
**/__pycache__/
